*.apk
*.~*
*.dll
*.zip
*.sqlite
*.rsm
*.appx
*.chm
*.chw
Profiling
*.vlb
*.2007
AutoUpdate*.zip
UpdateInfo.txt
*.map
*.ddp
*.dti
*.drc
*.identcache
*.otares
*.skincfg
*.stat
*.local
*.ddp
__history
__recovery
*.wa[0-9]*
*.dcu
*.exe
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
[Tt]humbs.db
Demo ZebraDataWedge/Android
Demo ZebraDataWedge/DemoZebraDW.res
